.add-expense-wrapper {
  background-color: #1d1d1d;
}

.add-expense-wrapper h1 {
  margin-top: 0;
  padding-top: 10px;
}

.cross-exit {
  display: none;
}

.add-expense-title {
  color: #4c9cf1;
}

@media only screen and (max-width: 420px) {
  .add-expense-wrapper {
    margin: 10px;
    margin-top: 82px;
    margin-bottom: 0px;
    border: 2px solid #4c9cf1;
    max-height: 550px;
    min-height: 85vh;
  }
  .cross-exit {
    display: block;
    position: fixed;
    right: 15px;
    bottom: 35px;
    height: 70px;
    z-index: 10;
    color: #cc3300;
    background-color: none;
  }
}
