.add-expense-wrapper {
  background-color: #232323;
  border: 2px solid #4c9cf1;
  margin-right: auto;
  margin-left: auto;
  margin-top: 82px;
  margin-bottom: 0px;
  border: 2px solid #4c9cf1;
  max-height: 550px;
}

.add-expense-wrapper h1 {
  margin-top: 0;
  padding-top: 10px;
}

.edit-expense-wrapper {
  background-color: #232323;
  border: 2px solid #4c9cf1;
  margin-right: auto;
  margin-left: auto;
  margin-top: 82px;
  margin-bottom: 0px;
  border: 2px solid #4c9cf1;
  max-height: 650px;
}

.edit-expense-wrapper h1 {
  margin-top: 0;
  padding-top: 10px;
}

.cross-exit {
  display: block;
  position: fixed;
  z-index: 100;
  right: 125px;
  bottom: 75px;
  height: 70px;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  color: #cc3300;
}
button {
  background-color: #232323;
}

.add-expense-title {
  color: #4c9cf1;
}

.delete-button {
  color: red;
}

@media only screen and (max-width: 420px) {
  .add-expense-wrapper {
    margin: 10px;
    margin-top: 82px;
    margin-bottom: 0px;
    border: 2px solid #4c9cf1;
    max-height: 550px;
    min-height: 85vh;
  }
  .cross-exit {
    display: block;
    position: fixed;
    right: 35px;
    bottom: 50px;
    height: 70px;
    z-index: 10;
    color: #cc3300;
    background-color: none;
  }
}
