.expense-item-wrapper {
  background-color: #232323;
  max-width: 500px;
  /* min-height: 362px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 3%;
  position: relative;
}

.expense-item {
  /* position: relative; */
  border: solid 3px #33ccff;
  margin-left: 25px;
  margin-right: 25px;
  color: white;
  padding-bottom: 20px;
}

.expense-item h4 {
  color: #66ffff;
  font-size: 1.5rem;
}

.expense-item h4:hover {
  color: #33ccff;
}

.expense-item-list:last-child {
  padding-bottom: 0px;
}

.expense-item-amount {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.23rem;
  color: #9e2404;
}

.expense-item-date {
  font-weight: 600;
  font-size: 1.2rem;
}

.expense-item-note {
  padding-right: 35px;
  padding-left: 35px;
  word-wrap: break-word;
}
