.expense-form-description {
  margin-bottom: 15px;
  padding: 0.6rem;
  font-weight: 500;
}

.error_wrapper {
  padding: 0;
  line-height: 0;
  color: red;
}

.expense-form-amount {
  margin-bottom: 15px;
  padding: 0.6rem;
  font-weight: 500;
}

.expense-form-note {
  word-wrap: break-word;
}

.input-label {
  color: #0099ff;
}

.input-button {
  background-color: none;
  border: none;
  color: #0099ff;
}

button {
  background-color: #1d1d1d;
  border: none;
  text-decoration: none;
}

@media only screen and (max-width: 420px) {
  .input-button {
    position: fixed;
    left: 35px;
    bottom: 35px;
    height: 70px;
    z-index: 10;
  }
}
