.expense-form-description {
  margin-bottom: 15px;
  padding: 0.6rem;
  font-weight: 500;
}

.error_wrapper {
  padding: 0;
  line-height: 0;
  color: red;
}

.expense-form-amount {
  margin-bottom: 15px;
  padding: 0.6rem;
  font-weight: 500;
}

.expense-form-note {
  word-wrap: break-word;
}

.input-label {
  color: #0099ff;
}

.input-button {
  background-color: #0099ff;
  border: none;
  color: white;
  border: 1px solid white;
  border-radius: 10%;
  padding: 0;
}

.input-button p {
  margin: 0;
  line-height: 0;
  padding: 12px;
}

button {
  background-color: #1d1d1d;
  border: none;
  text-decoration: none;
}

@media only screen and (max-width: 420px) {
  .input-button {
    position: fixed;
    left: 20px;
    bottom: 52px;
    height: 35px;
    padding: 8px 0px 0px 0px;
    z-index: 10;
  }
}
