.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0;
  padding: 0px;
  text-align: center;
  color: white;
  /* line-height: 0.5; */
  /* background-color: #0f0f0f; */
  height: 10px;
}

.footer p {
  margin: 0;
  margin-top: 5px;
}

.footer-front-page {
  /* position: fixed; */
  /* right: 15px; */
  bottom: 0px;
  height: 40px;
  z-index: 10;
  /* background-color: red; */
}

@media only screen and (max-width: 420px) {
  .footer {
    position: relative;
  }
  .footer-front-page {
    position: relative;
    height: 0px;
    bottom: 0px;

    /* position: fixed;
    /* right: 15px; */
    /* bottom: 0px;
    height: 40px;
    z-index: 10; */
    /* background-color: red; */
  }
}
