.front-page-content-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.23rem;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  /* background-color: red; */
  z-index: 10;
}
.front-page-content {
  margin-top: 92px;
  /* padding-bottom: 100px; */
  padding-top: 100px;
  height: 505px;
  /* filter: grayscale(100%); */
}
.front-page-content-open-form {
  margin-top: 92px;
  padding-bottom: 100px;
  padding-top: 100px;
  height: 563px;
  /* filter: grayscale(100%); */
}

/* .front-page-FormRegister {
  display: block;
  z-index: 1000;
} */

.img-layer {
  z-index: -20;
  background-image: url('./images/wallstreet.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: absolute;
}

.opacity-layer {
  z-index: -10;
  opacity: 0.8;
  background-color: black;
  width: 100%;
  height: 600px;
  position: absolute;
}
.img-layer-open-form {
  z-index: -20;
  background-image: url('./images/wallstreet.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 760px;
  position: absolute;
}

.opacity-layer-open-form {
  z-index: -10;
  opacity: 0.8;
  background-color: black;
  width: 100%;
  height: 760px;
  position: absolute;
}

.icon-container {
  padding: 15px;
  color: #33ccff;
}

.icon-container span {
  color: #33ccff;
  padding: 15px;
}

.front-page-registration-login-container {
  /* background-color: #33ccff; */
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid red; */
  /* padding-right: 10px; */
  /* padding-left: 0; */
}

.front-page-registration-login-container button {
  background-color: #0099ff;
  border: 1px white solid;
  border-radius: 4px;
  color: white;
  padding: 15px;
}

@media only screen and (max-width: 420px) {
  .icon-container {
    margin-top: 0px;
    padding: 0px;
    color: #33ccff;
  }
  .icon-container span {
    margin-top: 0px;
    color: #33ccff;
    /* padding-left: 5px;
    padding-right: 5px; */
  }

  .img-layer-open-form {
    z-index: -20;
    background-image: url('./images/wallstreet.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 790px;
    position: absolute;
  }

  .opacity-layer-open-form {
    z-index: -10;
    opacity: 0.8;
    background-color: black;
    width: 100%;
    height: 790px;
    position: absolute;
  }

  .front-page-content {
    /* margin-top: 52px; */
    height: 94vh;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .front-page-content-open-form {
    /* margin-top: 52px; */
    height: 94vh;
    padding-top: 10px;
    padding-bottom: 173px;
  }

  .front-page-content-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    padding-left: 80px;
    padding-right: 80px;
    /* margin-top: 20vh; */
    /* height: 100vh; */
    color: white;
  }
  .front-page-registration-login-container button {
    background-color: #0099ff;
    border: 1px white solid;
    border-radius: 4px;
    color: white;
    padding: 5px;
    /* line-height: 1.16px; */
    margin-left: -7.5px;
  }
  .front-page-registration-login-container {
    /* background-color: #33ccff; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid red; */
    /* padding-right: 10px; */
    /* padding-left: 0; */
  }
}
