.front-page-content-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.23rem;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 25vh;
  color: white;
}
.front-page-content-text {
}

.icon-container {
  padding: 15px;
  color: #33ccff;
}

.icon-container span {
  color: #33ccff;
  padding: 15px;
}

.front-page-registration-login-container {
  /* background-color: #33ccff; */
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid red; */
  /* padding-right: 10px; */
  /* padding-left: 0; */
}

.front-page-registration-login-container button {
  background-color: #0099ff;
  border: 1px white solid;
  border-radius: 4px;
  color: white;
  padding: 15px;
}

@media only screen and (max-width: 420px) {
  .icon-container {
    margin-top: 0px;
    padding: 0px;
    color: #33ccff;
  }
  .icon-container span {
    margin-top: 0px;
    color: #33ccff;
    /* padding-left: 5px;
    padding-right: 5px; */
  }
  .front-page-content-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 20vh;
    color: white;
  }
  .front-page-registration-login-container button {
    background-color: #0099ff;
    border: 1px white solid;
    border-radius: 4px;
    color: white;
    padding: 5px;
    /* line-height: 1.16px; */
    margin-left: -7.5px;
  }
  .front-page-registration-login-container {
    /* background-color: #33ccff; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid red; */
    /* padding-right: 10px; */
    /* padding-left: 0; */
  }
}
