header {
  background-color: #0f0f0f;
  text-align: center;
  min-width: 100%;
  position: fixed;
  top: 0;
  min-height: 82px;
  padding: 0px;
  padding-top: 12px;
  z-index: 1000;
  overflow: auto;
  display: block;
}

a {
  /* background-color: #232323; */
}

.header-logo {
  color: #0099ff;
  text-decoration: none;
  margin: 0;
  padding: 15px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.main-header-buttons {
  padding-top: 5px;
}

.header-button {
  background-color: #0f0f0f;
  border: none;
  color: #0099ff;
  padding: 15px;
}

.header-button-text {
  font-family: 'Nunito Sans', sans-serif;
  /* font-size: 1rem; */
  /* padding-bottom: 20px; */
}

.header-button-login {
  background-color: #0f0f0f;
  border: none;
  color: #0099ff;
  padding: 15px 20px;
}

/* .header-username {
  display: block;
  padding-top: 70px;
  text-align: center;
} */

.is-active-logo {
  margin: 0;
}

@media only screen and (max-width: 450px) {
  #add-expense-button {
    display: none;
  }
  .float-left {
    float: none;
    padding: 0px;
  }

  .float-right {
    float: none;
    padding: 0px;
  }
  .float-right:last-child {
    float: left;
    padding-left: 30px;
  }
  #header-Register-Login-button {
    float: none;
    padding: 0px;
  }

  #close-filter-button {
    float: left;
    padding-left: 75px;
  }
}
