header {
  background-color: #232323;
  text-align: center;
  /* min-width: auto; */

  min-height: 80px;
}

.header-logo {
  color: #0099ff;
  text-decoration: none;
  margin: 0;
  padding: 15px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.is-active-logo {
  margin: 0;
}
